In [17]:
import pandas as pd

df = pd.read_csv(r"C:\Users\siven\Desktop\icici-nav.csv")
df

          date      nav
0     02-01-13  11.0257
1     03-01-13  11.0789
2     04-01-13  11.0692
3     07-01-13  11.0751
4     08-01-13  11.0542
...        ...      ...
3221  04-02-26  64.2223
3222  05-02-26  63.9197
3223  06-02-26  64.0166
3224  09-02-26  64.6356
3225  10-02-26  64.7278

[3226 rows x 2 columns]

In [18]:
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values('date')
df = df.set_index('date')

yearly = df['nav'].resample('Y').agg({
    'open': 'first',
    'high': 'max',
    'low': 'min',
    'close': 'last'
})

yearly

C:\Users\siven\AppData\Local\Temp\ipykernel_19092\3872799204.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'])

               open     high      low    close
date
2013-12-31  10.7783  11.4829   9.0799  11.4829
2014-12-31  11.5307  16.8150  10.4349  16.5613
2015-12-31  16.6108  19.0355  16.2413  17.6670
2016-12-31  17.8339  21.1382  15.0844  19.1073
2017-12-31  21.2002  27.9394  19.2742  27.9394
2018-12-31  27.8811  28.7747  23.0452  25.5950
2019-12-31  25.5345  26.2801  22.9634  25.8634
2020-12-31  25.8501  29.6725  16.9518  29.6725
2021-12-31  29.9069  40.7698  28.9733  38.6034
2022-12-31  38.2232  41.7879  32.5114  38.8014
2023-12-31  35.4721  49.2021  34.0541  49.2021
2024-12-31  49.2610  71.8981  49.1388  62.7439
2025-12-31  62.9830  65.3294  52.7159  64.2902
2026-12-31  64.5776  65.5143  61.4064  63.6671

In [36]:
df = yearly.copy()

df["change"] = df["close"] - df["open"]
df["change_percentage"] = df["change"] / df["open"] * 100


df["rolling_change_3"] = df["change_percentage"].rolling(window=3).mean()
df["rolling_change_5"] = df["change_percentage"].rolling(window=5).mean()
df["rolling_change_8"] = df["change_percentage"].rolling(window=8).mean()
df["rolling_change_10"] = df["change_percentage"].rolling(window=10).mean()



df = df.round(2)
df

,open,high,low,close,change,change_percentage,rolling_change_3,rolling_change_5,rolling_change_8,rolling_change_10
date,,,,,,,,,,
2013-12-31,10.78,11.48,9.08,11.48,0.70,6.54,NaN,NaN,NaN,NaN
2014-12-31,11.53,16.82,10.43,16.56,5.03,43.63,NaN,NaN,NaN,NaN
2015-12-31,16.61,19.04,16.24,17.67,1.06,6.36,18.84,NaN,NaN,NaN
2016-12-31,17.83,21.14,15.08,19.11,1.27,7.14,19.04,NaN,NaN,NaN
2017-12-31,21.20,27.94,19.27,27.94,6.74,31.79,15.10,19.09,NaN,NaN
2018-12-31,27.88,28.77,23.05,25.60,-2.29,-8.20,10.24,16.14,NaN,NaN
2019-12-31,25.53,26.28,22.96,25.86,0.33,1.29,8.29,7.68,NaN,NaN
2020-12-31,25.85,29.67,16.95,29.67,3.82,14.79,2.63,9.36,12.92,NaN
2021-12-31,29.91,40.77,28.97,38.60,8.70,29.08,15.05,13.75,15.73,NaN
2022-12-31,38.22,41.79,32.51,38.80,0.58,1.51,15.13,7.69,10.47,13.39
2023-12-31,35.47,49.20,34.05,49.20,13.73,38.71,23.10,17.07,14.51,16.61
2024-12-31,49.26,71.90,49.14,62.74,13.48,27.37,22.53,22.29,17.04,14.98
2025-12-31,62.98,65.33,52.72,64.29,1.31,2.08,22.72,19.75,13.33,14.55
2026-12-31,64.58,65.51,61.41,63.67,-0.91,-1.41,9.35,13.65,14.18,13.70